@import "tailwindcss";
@custom-variant dark (&:where(.dark, .dark *));

@font-face {
  font-family: 'Aquarium';
  src: url('/fonts/aquarium.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
